<div class="relative h-screen w-full">
    <img src="https://img.freepik.com/free-photo/female-bodybuilder-training-biceps-with-dumbbells_651396-750.jpg?t=st=1720802228~exp=1720805828~hmac=5f80632c823f0cb8563a9b89fac76b8d1e091ecf9fab21eaaadd2d46b07f7dd8&w=900" alt="Background Image" class="absolute inset-0 w-full h-full object-cover filter ">
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    <div class="absolute inset-0 flex flex-col items-center justify-center">
        <h1 class="text-4xl text-white font-bold">Marvellous WorkOut</h1>
        <p class="text-xl text-white mt-4">“Yeah, I mean, I put work out there for people to use and I’m grateful when you use it.” — Kathy Acker</p>
    </div>
</div>